
<router-outlet> </router-outlet>

<footer class="informacion-adicional">
    <span>
        <span class="contacto"> Contáctenos a través de: martinoferrero02@gmail.com <img class="logo-gmail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Gmail_Icon_%282013-2020%29.svg/2560px-Gmail_Icon_%282013-2020%29.svg.png" alt="Logo de Gmail"> </span>
    </span>
    <span class="nombre"> TenisMundo </span>
    <span class="copyright"> Copyright © 2023 TenisMundo. Todos los derechos reservados. </span>
</footer>